*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f2f2f2;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.container {
    background-color: rgba(255, 255, 255, 0.95);
    width: 400px;
    max-height: 90vh;
    overflow-y: auto;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    position: relative;
    z-index: 2;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    height: 40px;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: inherit;
    background-color: #fff;
    appearance: none;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 8px;
    transform: scale(1.1);
}

.radio-group,
.checkbox-group {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
    font-size: 16px;
}

button {
    width: 100%;
    height: 45px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px
}

button:hover {
    background-color: #101011;
}
