<!-- templates/layout.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Convergent ML Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Conditionally render the navbar -->
    {% if show_navbar %}
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/diagnostic">Diagnostic</a></li>
            <li><a href="/extract_medical_terms">Extract Medical Terms</a></li>
            <li><a href="/heart_disease">Heart Disease</a></li>
            <li><a href="/vitals">Vitals</a></li>
            <li><a href="/pneumonia">Pneumonia</a></li>
            <li><a href="/sentiment">Sentiment</a></li>
        </ul>
    </nav>
    {% endif %}
    
    <!-- Page content from child templates will go here -->
    {% block content %}{% endblock %}
</body>
</html>
