<!DOCTYPE html>
<html>
<head>
    <title>Sentiment Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='sentiment.css') }}">
</head>
<body>
    <h2>Sentiment Analyzer</h2>
    <form method="post" action="/sentiment">
        <textarea name="feedback" rows="5" cols="40" placeholder="Enter patient feedback here..."></textarea><br>
        <input type="submit" value="Analyze">
    </form>

    {% if result %}
        <h3>Feedback:</h3>
        <p>{{ feedback }}</p>
        <h3>Predicted Sentiment:</h3>
        <p>{{ result }}</p>
    {% endif %}
</body>
</html>
